body{
	font-family: 'Open Sans', sans-serif;
}
.header{
	text-align: center;	
}
#succeed-info{
	padding: 2rem 10% 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}
#succeed-info h3{

	margin-bottom: 1rem;

}
#succeed-info{
	padding: 2rem 10% 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}
/*
#pre-footer{
	padding: 0rem 1% 0rem;
}*/

#pre-footer .card{
	display: inline-block;	
	vertical-align: top;	
	min-height: 175px;
	width:20%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;


}
#pre-footer{
	
	background-color: #011f4b;
}
#pre-footer p{
	color:white;
}
#pre-footer h3{
	color:white;
}

footer{
	padding:0.7rem;

}
footer span{
	margin-left: 0.5rem;
	margin-right:0.5rem;
}